<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Game</title>
    </head>
    <body>
        <p>{{excerpt}}</p>
        <br>
        <textarea>Test area</textarea>
    </body>
</html>