<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <script type="text/javascript" src="/js/colyseus.js"></script>
        <script type="text/javascript" src="/js/game-script.js"></script>
        <link rel="stylesheet" href="/styles/game.css">
    </head>
    <body>
        <span id="name" data-name="{{name}}"></span>
        <div class="game-parent">
            <div class="countdown-parent">
                <p id="countdown">Starting in <span id="countdown_number">10</span></p>
            </div>
            <!-- ape progress goes from 77% => -5% -->
            <div class="progress-parent">
                <div class="progress-bar pa" id="player0">
                    <img class="progress-ape" src="/images/ape.png" id="player0">
                </div>
                <div class="progress-bar pb" id="player1" id="player0">
                    <img class="progress-ape" src="/images/ape.png" id="player1">
                </div>
                <div class="progress-bar pc" id="player2">
                    <img class="progress-ape" src="/images/ape.png" id="player2">
                </div>
                <div class="progress-bar pd" id="player3">
                    <img class="progress-ape" src="/images/ape.png" id="player3">
                </div>
            </div>
            <p id="excerpt"></p>
            <br>
            <div class="input-parent">
                <input type="text" id="text_input">
                <div class="wpm-parent">
                    <p id="wpm"><span id="wpm_number">0</span> WPM</p>
                </div>
            </div>
        </div>
    </body>
</html>