<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Game</title>
        <script type="text/javascript" src="/js/colyseuys.js"></script>
        <script type="text/javascript" src="/js/game-script.js"></script>
    </head>
    <body>
        <p id="countdown">Starting in <span id="countdown_number">10</span></p>
        <p id="excerpt">{{excerpt}}</p>
        <br>
        <input type="text" id="text_input">
    </body>
</html>