<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Hello {{name}}</h1>
        <!-- Change the id here -->
        <a href="/game/1">Play Game</a>
        <a href="/home">Leaderboards</a>
    </body>
</html>