<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="/styles/landing-page.css">
        <script type="text/javascript" src="/js/landing-page-script.js"></script>
    </head>
    <body>
        <div>
            <img class="logo" src="/images/ape.png"/>
            <form action="/" method="POST">
                <div class="name">Please enter your name</div>
                <input type="text" name="name" class="name-input" id="name-input">
                <input type="submit" value="Enter" class="name-submit">
            </form>
        </div>
    </body>
</html>
