<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Leaderboard</title>
        <link rel="stylesheet" href="/styles/leaderboard.css">
    </head>
    <body>
        <div class="game-parent">
            <ol>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
                <li>Ape</li>
            </ol>
        </div>
    </body>
</html>