<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Leaderboard</title>
        <link rel="stylesheet" href="/styles/leaderboard.css">
    </head>
    <body>
        <div class="game-parent">
            <ol>
                {{#each list}}
                    <li>{{this.name}} - {{this.wpm}} wpm</li>
                {{/each}}
            </ol>
            <a class="home" href='/home'>Go Home</a>
        </div>
    </body>
</html>