<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Leaderboard</title>
    </head>
    <body>
        <ol>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
            <list>Ape</list>
        </ol>
    </body>
</html>